<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.newapplication">

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ShopcarActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MeActivity" />
        <activity android:name=".ListActivity" />
        <activity android:name=".DateActivity" />
        <activity android:name=".newpage.Phone_help">
            <intent-filter>
                <action android:name="android.Intent.ACTION_DIAL" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="tel" />
            </intent-filter>
        </activity>
        <activity android:name=".newpage.Notice" />
        <activity android:name=".me.Order_fa" />
        <activity android:name=".me.Order_fu" />
        <activity android:name=".me.Order_shou" />
        <activity android:name=".me.Order_tui" />
        <activity android:name=".newpage.PagetitleActivity" />
        <activity android:name=".me.WalletpagaActivity"/>
        <activity android:name=".me.MyaddressActivility"/>
        <activity android:name=".me.MySetUpActivility"/>
        <activity android:name=".me.MyBodySizeActivility"/>
        <activity android:name=".me.MyEditionActivility"/>
        <activity android:name=".ShopkeeperActivity"/>
        <activity android:name=".shopkeeper.AddGoodsActivity"/>
        <activity android:name=".home.ItemDetailActivity"/>
        <activity android:name=".AdministratorsActivity"/>
        <activity android:name=".me.SetUserNameActivity"/>
        <activity android:name=".me.SetUserSexActivity"/>
        <activity android:name=".list.TypeListActivity"/>
        <activity android:name=".me.Edit_Address"/>
        <activity android:name=".me.Insert_Address"/>
        <activity android:name=".shopkeeper.Register_shopActivity"/>
        <activity android:name=".shopkeeper.DeletedGoodsActivity"/>
        <activity android:name=".shopkeeper.Goods_DetailActivity"/>
        <activity android:name=".shopkeeper.Update_GoodslActivity"/>
        <activity android:name=".Administrators.AllUserActivity"/>
        <activity android:name=".Administrators.AllShopkeeperActivity"/>
        <activity android:name=".Administrators.Adm_ItemDetailActivity"/>
        <activity android:name=".Administrators.Deleted_ShopkeeperActivity"/>
        <activity android:name=".date.Event_ItemDetailActivity"/>
        <activity android:name=".date.Add_eventActivity"/>
        <activity android:name=".me.My_orderBearActivity"/>
        <activity android:name=".shopkeeper.My_OrderActivity"/>
        <activity android:name=".shopkeeper.My_Order_fuActivity"/>
        <activity android:name=".shopkeeper.My_Order_shouActivity"/>
        <activity android:name=".shopkeeper.My_Order_huanActivity"/>
        <activity android:name=".shopcar.SettlementActivity"/>
        <activity android:name=".shopcar.ChooseAddressActivity"/>
        <activity android:name=".newpage.Sk_Notice"/>
        <activity android:name=".me.Update_bodyData"/>
        <activity android:name=".Administrators.Adm_dj_gk"/>
        <activity android:name=".Administrators.Adm_dj_sj"/>
        <activity android:name=".Administrators.Adm_qxdj_guke"/>
        <activity android:name=".Administrators.Adm_qxdj_sj"/>
    </application>

</manifest>